*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body::before{
    background: url(dotted.png)center center/cover;
    position: absolute;
    content: "";
    height:100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.4;
    z-index: -1;
}
body{

    font-family: 'Poppins', sans-serif;
}
header{
    display: flex;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
.logo{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-left: 12px;
    margin-top: 24px;
    padding-right: 45px;
    border-right: 1px solid rgb(133, 130, 130);
    display: inline;
}
.imgvaala{
    display: flex;
    display: inline-block;
    padding: 4px 9px;
    justify-content: center;
    align-items: center;
    background-color:#035AFC;
    border-radius: 12px;
}
.logo img{
    height: 20px;
    filter: invert(2);
}
.logotext{
    margin-left: 12px;
    font-weight: 600;
}
.navbar{
    display: flex;
    margin-top:24px ;
    margin-left: 15px;
    flex: 1;    
    /* border: 2px solid yellow; */
    /* width: 70%; */
}
.navbar ul{
    display: flex;
    list-style: none;
    /* justify-content: center; */
    align-items: center;
    flex: 1;
}
.list{
    color: #1E2839;
    padding: 0 12px;
    font-size: 15px;
}
.right{
    display: flex;
    align-items: center;
    margin-right: 14px;
}
.login{
    display: flex;
    margin-right: 42px;
    color: #035AFC;
    font-size: 15px;
}
.signup{
    background: rgba(3,90,252,.2);
    display: flex;
    margin-right: 18px;
    padding: 9px 25px;
    color: #035AFC;
    border-radius: 15px;
    font-size: 15px;
}
.vahi{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 52px;
}

.vahi h1{
    font-size: 52px;
    font-weight: bolder;
    /* font-family: 'Anton', sans-serif; */
}
.vahi span{
    margin-top: 50px;
    opacity: 0.5;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* border: 5px solid red; */
    width: 15%;
    margin: auto;
    margin-top: 25px;
    background-color: #035AFC;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 15px 0;
    border: none;
    border-radius: 15px;
    font-weight: bold;
}
.mac{
    display: flex;
    height: 900px;
    filter: drop-shadow(0 0.8rem 0.9rem rgba(0, 0, 0, 0.2));
}
/* .macup::after{
    background: url(andar.png)center center/cover;
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 85%;
    left: 0;
    opacity: 0.9;
    z-index: -1;
} */
.dujja{
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 75px;
}
.text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.gajab{
    width: 65%;
    margin: auto;
    margin-top: 15px;
    opacity: 0.3;
    font-size: 30px;
    font-weight: bolder;
}
.resdes{
    font-size: 55px;
    font-weight: bolder;
}
/* .macdown{
    display: flex;
} */
/* .macdown img{
    height: 400px;
    display: flex;
} */






@media screen and (max-width:420px){
    header{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 20px;
    }
    .navbar{
        display: none;
    }
    .right{
        margin-right: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    .logotext{
        margin-left: 12px;
        font-weight: 600;
        font-size: 12px;
    }
    .login{
        display: flex;
        margin-right: 22px;
        color: #035AFC;
        font-size: 15px;
    }
    .signup{
        background: rgba(3,90,252,.2);
        display: flex;
        margin-right: 5px;
        padding: 9px 18px;
        color: #035AFC;
        border-radius: 15px;
        font-size: 15px;
    }

    .btn{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 65%;
        margin: auto;
        margin-top: 25px;
        
        background-color: #035AFC;
        color: white;
        font-family: 'Poppins', sans-serif;
        padding: 5px 65px;
        border: none;
        border-radius: 15px;
        font-weight: bold;
    }
    
}