*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
}
h2{
    font-family: 'Poppins', sans-serif;
}
.gaava{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
}
header{
    width: 90%;
    margin: 25px auto;
    display: flex;
    align-items: center;
    text-align: center;
    /* border: 2px solid black; */
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    word-spacing: 0.5em;
}
.navbar{
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 350px;
}
.list{
    font-family: 'Poppins', sans-serif;
    display: flex;
    margin: 0 26px;
    opacity: 0.8;
    /* letter-spacing: 1em; */
}
.todd{
    margin-left: 15px;
    color: rgb(100, 235, 190);
    font-family: 'Poppins', sans-serif;
}
.beat{
    font-family: 'Poppins', sans-serif;
    margin-top: 11px;
}
.beat span{
    font-family: 'Poppins', sans-serif;
    margin-top: 4px;
    opacity: 0.4;
}
.menu img{
    display: none;
}
.pehlaa::before{
    background: url(mountain.jpg)center center/cover;
    position: absolute;
    content: "";
    height: 90%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.8;
    z-index: -1;
    margin-top: 87.2px;
}

.right{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 105px;
}
.right h1{
    letter-spacing: 1em;
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    /* color: rgb(12, 236, 87); */
}
.nicche{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nicche span{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 110px;
}
.btn{
    /* border: none; */
    border: 5px solid green;
    outline: none;
    border-radius: 12px;
    padding: 9px 24px;
    font-family: 'Poppins', sans-serif;
    background: transparent;
}




@media screen and (max-width:420px){
    .navbar{
        margin-left: 15px;
        display: none;
        /* background-color: red; */
    }
    .list{
        font-family: 'Poppins', sans-serif;
        display: flex;
        margin: 0 3px;
        opacity: 0.8;
        /* letter-spacing: 1em; */
    }
    h2{
        font-size: 14px;
    }
    .menu img{
        /* display: flex; */
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-left: 180px;
    }
}   