* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}

.container {
  background-color: #494850;
  width: 25%;
  /* height: 50%; */
  padding-bottom: 150px;
  margin-top: 24px;
  margin-left: 24px;
  border-radius: 24px;
  box-shadow: 2px 2px 7px #12263a;
}
/* .slider {
  range: auto;
} */
/* .sa-lider {
  color: white;
  padding: 34px;
} */
.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.slider {
  padding-right: 24px;
  /* padding: 0 34px; */
}
h3{
  color: rgb(26,115,232);
}
.right {
  position: absolute;
  left: 30%;
  top: 8%;
  display: flex;
  width: 40%;
  /* margin-right: 2px; */
  /* border: 2px solid black; */
}
.input-vaala {
  margin-right: 14px;
  font-weight: bolder;
  font-size: medium;
  font-family: "Poppins", sans-serif;
  /* font-size: ; */
  border-radius: 11px;
  outline: none;
  padding: 6px 0;
  padding-right: 450px;
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-right: 12px;
}
.mid-image {
  position: absolute;
  left: 30%;
  top: 17%;
  height: 505px;
  width: 805px;
  border: 2px solid black;
  /*  */
}

.select-image {
  height: 500px;
  width: 800px;
}
.defbtn{
  display: hidden;
  position: absolute;
  left: 8%;
}
.custombtn{
  display: flex;
  position: absolute;
  left: 6%;
  background: none;
  /* border: 2px dashed black; */
  background-image: linear-gradient(120deg,rgb(81, 136, 224),rgb(90, 10, 155));
  padding: 5px 80px;
  border-radius: 12px;
  color: white;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  outline: none;
}
.mnew{
  display: flex;
  position: absolute;
  top: 70%;
  left: 14%;
  border: 2px dashed black;
  background-image: linear-gradient(120deg,rgb(121, 209, 238),rgb(111, 96, 243));
  padding: 6px 14px;
  color: white;
  font-family: "Poppins", sans-serif;
  border-radius: 6px;
  /* margin: 12px;   */
}
/* .uimg{
  position: absolute;
  left: 25%;
} */
#output{
  display: none;
}
.ctn{
  margin-left: 8px;
  
}
.dtn{
  position: absolute;
  display: flex;
  left: 2%;
  top: 70%;
  border: 2px dashed black;
  background-image: linear-gradient(120deg,rgb(121, 209, 238),rgb(111, 96, 243));
  padding: 8px 14px;
  color: white;
  font-family: "Poppins", sans-serif;
  border-radius: 6px;
}


@media screen and (max-width: 420px) {
  .left {
      padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  h3{
      color: rgb(26,115,232);
  }
  .container {
    background-color: #fff;
    width: 90%;
    height: 0%;
    padding-bottom: 0px;
    /* margin-top: 2px; */
    margin-top: 530px;
    margin-left: 9px;
    border-radius: 24px;
    box-shadow: 2px 2px 7px #12263a;
  }
  .mid-image {
    position: absolute;
    left: 5%;
    /* top:55%; */
    top:7%;
    height: 300px;
    width: 350px;
    border: none;
    background: none;
    box-shadow: 1px 1px 17px  rgb(20, 19, 19);
    border: 2px solid #F4851B;
    border-radius: 12px;
  }
  .select-image {
      color: yellowgreen;
    height: 360px;
    width: 350px;
    border-radius:12px;

  }
  .right {
    position: absolute;
    /* left: 30%; */
    /* top: 47%; */
    top: 1%;
    left: 2%;
    display: flex;
    width: 40%;

    /* margin-right: 2px; */
    /* border: 2px solid black; */
  }
  .input-vaala {
    margin-right: 5px;
    font-weight: bolder;
    font-size: medium;
    font-family: "Poppins", sans-serif;
    /* font-size: ; */
    border-radius: 11px;
    outline: none;
    padding: 3px 0;
    /* padding-right: 100px; */
  }
 
  .btn {
      color: #fff;
      border: none;
      background: none;
      background-color: #14be14;
      border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 12px;
    outline: none;
  }
 .ctn{
     /* position: absolute; */
     /* left: 40%; */
     position: absolute;
     /* top: 30%; */
     top: 54%;
     left: 35%;
     color:black;
     border: 1px solid orange;
     outline: none;
     padding: 5px 35px;
     border-radius: 12px;
 }
 .mnew{
  display: flex;
  position: absolute;
  top: 48%;
  left: 55%;
  border: 2px dashed black;
  background-image: linear-gradient(120deg,rgb(121, 209, 238),rgb(111, 96, 243));
  padding: 6px 14px;
  color: white;
  font-family: "Poppins", sans-serif;
  border-radius: 6px;
  /* margin: 12px;   */
}
.dtn{
  display: flex;
  position: absolute;
  top: 48%;
  left: 14%;
  border: 2px dashed black;
  background-image: linear-gradient(120deg,rgb(121, 209, 238),rgb(111, 96, 243));
  padding: 8px 14px;
  color: white;
  font-family: "Poppins", sans-serif;
  border-radius: 6px;
}
 
}

