*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to top, #a7a6cb 0%, #8989ba 52%, #8989ba 100%);
}
.container{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}
h1{
    display: flex;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    align-items: center;
    color: white;
}
.right{
    margin: 15px 0 ;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 8px;
    width: 40%;
}
.rigone{
    display: flex;
    justify-content: center;
    margin: 14px 0;
}
.total-price,.user-gram,.result{
    padding: 14px 5px;
    border-radius: 12px;
    border: none;
    border: 2px solid yellow;
    outline: none;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    /* width: 50%; */
}
.total-price{
    width: 95%;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-top: 12px;
    padding: 22px 30px;
    border-radius: 12px;
    border: none;
    background-color: #333;
    color: rgb(199, 194, 194);
    outline: none;
    
}
.btn2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    /* margin-top: 1px; */
    padding: 25px 25px;
    border-radius: 12px;
    border: none;
    background-color: #333;
    color: rgb(199, 194, 194);
    outline: none;
    /* float: right; */
    position: absolute;
    top: 36.5%;
    right: 5%;
    
}
.container1{
    /* position: absolute; */
    top: 6%;
    right: 0;
    display: flex;
    /* float: right; */
    flex-direction: column;
    margin-top: 25px;
}
.right1{
    margin: 15px 0 ;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 25px;
    /* width: 90%; */
    position: absolute;
    top: 8.5%;
    right: -14%;
}
.total-price2,.user-gram2,.result2{
    padding: 14px 5px;
    border-radius: 12px;
    border: none;
    border: 2px solid yellow;
    outline: none;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    width: 70%;
}
